body{
    background:navy;
}
.container{
   max-width: 400px;
   margin: 10vh auto 0 auto;
   box-shadow:0px 0px 0px 0px;
   background: black;
   
}

#display{
    text-align: right;
    height: 170px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background: white;

}
.output{
    font-size: 22px;
    padding: 19px;
    font-weight: 700;
}
.result{
    font-size: 18px;
    padding: 19px;
    font-weight: 500;
}

.buttons{
    display: grid;
    border-bottom-color: black;
    border-top-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr ;


}
#b1{
    background: grey;
}
  



.button{
    border-left-color: black;
    border-right-color: black;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background: black;
    color:white;
    
    
    

}

.button:hover{
    transition: 0.5s ease-in-out;
}
@media screen and only (min-width: 650px;){
    orientation: landscape;

}
    
